.remove-all-margin{
margin:0 ! important;
}
h1{
    color:white;
    padding: 20px;
    text-transform: uppercase;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.container{
  margin:0 ! important;
  padding: 0;
    max-width: 1500px;
}

.body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-image:url('http://i.vimeocdn.com/video/460516322_1280x720.jpg');
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    margin:0px;

}

@keyframes fadein {
    0% {
        opacity: 0;
        padding-bottom: 60%;
    }
    100% {
        opacity: 1;
        padding-bottom: 100%;
    }
}


button2{
	position: relative;
    transition-timing-function: cubic-bezier(0.05, 0.75, 0.095, 1);
    transition-duration: 500ms;
    transition-property: opacity, top, left, transform;
	width: 6.5rem;
	height: 6.5rem;
	margin: 1.25rem;
	border-radius: 50%;
	background-color: #ddd;
	text-align: center;
	line-height: 12.5rem;
	display: inline-block;
	border: 2px solid #fff;
	opacity: 1;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 50%;

} 


button2:nth-child(1) {
  	    top: -49px;
    left: 22%;
   
}
button2:nth-child(2) {
        bottom: -37px;
    left: -24%;
    transform: translateX(-100%);
}
button2:nth-child(3) {
       bottom: -36px;
    left: 17%;;
  transform: translateX(-50%);
}
button2:nth-child(4) {
        bottom: -32px;
    left: 3%;
}
button2:nth-child(5) {
    top: -258px;
    left: 59%;
}

button1{
	padding: 10px;
	width: 20px;
	background-color: black;
	border-radius: 10%;
	color:white;
	position: relative;
	left:45%;
	top:30px;
}

.button.is-move-btn {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.game{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    transition: opacity 500ms cubic-bezier(0.05, 0.75, 0.095, 1);
}
.game-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.game-item {
    position: absolute;
    transition-timing-function: cubic-bezier(0.05, 0.75, 0.095, 1);
    transition-duration: 500ms;
    transition-property: opacity, top, left, transform;
}

.game-opponent {
    position: absolute;
    top: 10px;
    right: 10%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.05, 0.75, 0.095, 1);
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
     background-image: url('http://www.isbeingdesigned.com/images/rpsls.png');
     background-color: black;
     background-size: contain;
    border-radius: 50%;
    margin: 4.75em auto 0;

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  background-image: "url(https://www.freeiconspng.com/uploads/disco-ball-png-26.gif)"
}

.App-header {
  background-color: black;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
